.small_size {
    height: 200px;
}

#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 2;
}

#inputerror {
    position: absolute;
    top: 0px;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background: linear-gradient(to right, rgba(0, 183, 255, 0.212), rgba(141, 0, 0, 0.199));
}

.container-fluid {
    justify-content: center;
}